.timeline-text-div {
    padding-bottom: 30px;
}

.timeline-text-div .timeline-text {
    position: relative;
    background: #f5f5f6;
    padding: 1.7em;
    margin-left: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.timeline-text-div .timeline-text:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}

.timeline-text-div .timeline-text.left {
    margin-left: 0;
    margin-right: -50px;
}

.timeline-text-div .timeline-text.left:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.timeline-text-div .timeline-text h2,
.timeline-text-div .timeline-text p {
    color: #737881;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
}

.timeline-text-div .timeline-text h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.timeline-text-div .timeline-text h2 a {
    color: #303641;
}

.timeline-icon {
    background: #fff;
    color: #737881;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 40px;
    font-size: 15px;
    float: left;
    position: absolute;
    left: 50%;
    margin-left: -20px;
}

.timeline-icon.left {
    background: #fff;
    color: #737881;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 40px;
    font-size: 15px;
    float: right;
    position: absolute;
    left: 50%;
    margin-left: -20px;
}

.timeline-icon.bg-primary {
    background-color: #303641;
    color: #fff;
}

.timeline-icon.bg-secondary {
    background-color: #ee4749;
    color: #fff;
}

.timeline-icon.bg-success {
    background-color: #00a651;
    color: #fff;
}

.timeline-icon.bg-info {
    background-color: #21a9e1;
    color: #fff;
}

.timeline-icon.bg-warning {
    background-color: #fad839;
    color: #fff;
}

.timeline-icon.bg-danger {
    background-color: #cc2424;
    color: #fff;
}

.timeline-time.left {
    float: right;
    margin-right: -60px;
}

.timeline-time.left .time {
    text-align: right;
}

.timeline-time {
    margin-left: -60px;
}

.timeline-time > span {
    display: block;
}

.timeline-time > span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.timeline-time > span:last-child {
    font-size: 12px;
}

.timeline-line {
    position: relative;
}

.timeline-line:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f5f5f6;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -4px;
}